.sidebar{
    width:30%;
    float:right;
}


h1 {
    color:blueviolet;
    text-align:center;
}
h2 {
    color:blueviolet;
}
h3{
    text-align:centre
}
.test-box {
    border: 6px solid brown;
    background-color: aqua;
    width: 40%;
}
body {
    background-color:aquamarine;
    font-size: large;
    font-style: sans-sarif;
    color:blue;


}

    
